{% extends 'paypa/Base1.html' %}
{% block title %}Contacto{% endblock %}
{% block background %}{% load static %}{% static 'paypa/img/CONTACTO.jpg'  %}{% endblock%}
{% block headers%}
<p> <br><br><br></p>
<h2>EL PODER DE LAS TRES POTENCIAS</h2>
<span class="subheading">trabajamos en todo el mundo</span>
<p> <br></p>
{% endblock%} 

{% block content %}
<div class="row">
<h2> Estamos ubicados en America del sur </h2> 
<p> Prestamos nuestros servicios de forma virtual "videollamada" en todo el mundo y siempre disponibles las 24 horas del dia  para ayudarte.</p>
<div class="col-lg-6 col-md-5 offset-lg-3">
<img class="img-fluid avatar" src="{% static 'paypa/img/CONTACTO3.jpg'%}" alt="">
</div>

<p><br>Todos los temas que se traten en la consulta seran confidenciales y de absoluta discrecion.</p>
<div class="col-lg-5 col-md-4 offset-lg-3">
<img class="img-fluid avatar" src="{% static 'paypa/img/TAROT8.jpg'%}" alt="">
</div>
<div class="col-lg-12 col-md-8 offset-lg-0"> 
<!-- <h2 class="section-heading">Labor</h2>-->   
<p><h5><br><br>Programa una cita aqui.:&nbsp;</h5> </p>
<ul>
<li><a href="http://127.0.0.1:8000/adquieralo3/">Consulta por SKIPE "videollamada"</a></li>
<li><a href="http://127.0.0.1:8000/adquieralo3/">Consulta por WhatsApp "videollamada"</a></li> 
</ul>
<p> <br><br></p>
</div>
<h6>&nbsp;Cualquier inquietud comunicarce al correo electronico  "el.poder.de.las.tres.potencia@gmail.com"</h6>
</div>
{% endblock %}