{% extends 'paypa/Base1.html' %}

{% block title %}Historia{% endblock %}

{% block background %}{% load static %}{% static 'paypa/img/HISTORIA5.jpg'%}{% endblock%}

{% block headers%}
<p> <br><br><br><br> </p>
<h2>EL PODER DE LAS TRES POTENCIAS</h2>
<span class="subheading">conoce con quien trabajamos</span>
<p> <br><br><br><br><br><br><br><br><br><br> </p>

{% endblock%} 

{% block content %}
<div class="row">
<h2> NUESTRA HISTORIA 
</h2> 
<p>La montaña de Sorte se encuentra engastada en el estado de Yaracuy, lindante con los estados Falcon, Lara, Cojedes y Carabobo, no obstante cunado se reunen los creyentes al pie de la montaña comienzan los peregrinos que llegan en verdadreas caravanas, a ilustrar sus manifestaciones de fe.</p>
<p>De la parte baja de la serrania atraviesan el rio Yaracuy y emprenden la subida hasta la parte mas alta de Sorte. todos los peregrinos llevan Velas encendidas, esparcen perfumes y a la vez invocan oraciones para rendir homenaje de fe y amor a las divibidades de la montaña.</p>
<p>Cacique Guaicapuro, Negro Felipe que en sus epocas fueron caciques de sus tribus, se reunen junto a tantos espiritus de luz que se dan cita en la maravillosa montaña, que esta a su vez desprende un valor significativo de los mistico para todos los creyentes quienes encuentran y aprovechan vibraciones que emanan en una frecuencia de paz y amor, donde estos son los predios de la reina Maria Lionza. </p>
<p>La practica de DESPOJO en las montañas de Sorte es sencillamente un acto que impacta por las caracteristicas del rito. El despojo es un ritual para "Limpiar" cuerpos y almas de malasinfluencias. Este rito comienza en todos los casos invocando al TODO PODEROSO, se rezan oraciones que se proyectan con suficiente fuerzamental hacia el mejoramiento de la parte espiritual y astral del creyente. </p> 
<p>Se invocan diferentes cortes sengun el caso, como por ejemplo, La corte India, La corte Libertadora,La corte Negra, La corte Mèdica, La corte de los Juanes, La corte Celestial y la Corte de los Àngeles y Arcàngeles.</p>
<div class="col-lg-4 col-md-9 offset-lg-0">
<p> <br><br></p>
<img class="img-fluid avatar" src="{% static 'paypa/img/maria.jpg'%}" alt=" ">
</div>
<div class="col-lg-7 col-md-8">
<h2 class="section-heading">Maria Lionza</h2>   
<p>La maravillosa leyenda de Maria Lionza, que algunos consideran como un mito y otros como una estupenda realidad,que ha influenciado en los pueblos de Venezuela la espiritualidad. ademas la Reina Maria Lionza, la Sublime Deidad de Sorte, ha trascendido las fronteras de la patria y en muchas latitudes del planeta se le rinde culto y su espiritu llega con un mensaje de amor</p>
<p>Esta divinidad que es la Reina Maria Lionza esta relacionada con la magia del agua, los perfumes, los bosques, manatiales y por medio de estas virtudes purificadoras los MEDIUNS sanan a las personas de varias enfermedades </p>
</div>

<div class="col-lg-4 col-md-4 offset-lg-0">
<p> <br><br></p>
<img class="img-fluid avatar" src="{% static 'paypa/img/negro.jpg'%}" alt="">
</div>
<div class="col-lg-7 col-md-8">
<h2 class="section-heading">Negro Felipe</h2>   
<p>El Negro Felipe, se destaco por luchas en contra de la esclavitud, junto con el Negro Miguel, adicional El Negro Felipe, quien despues de la muerte del Negro Miguel, se ocupo de reagrupar las fuerzas de su jefe para continuar con la lucha contra la esclavitud.  </p>
<p>Cuando sucumbe el negro Felipe por la lucha incruenta y desigual, su cuerpo desaparece misteriosamente y en torno a èl se comenzaron a entretejer hazañas increibles, cuentos insolitos y su figura comienza a tomar una dimension legendaria y finalmente el mito copa por completo al NEGRO FELIPE</p>
<p>Su alma es invocada por medio de MEDIUMS para curar, aconsejar, señalar derroteros y realizar toda clase de trabajos para el bien del projimo</p>
</div>

<div class="col-lg-4 col-md-4 offset-lg-0">
<p> <br><br></p>
<img class="img-fluid avatar" src="{% static 'paypa/img/GUAICAPURO.jpg'%}" alt="">
</div>
<div class="col-lg-7 col-md-8">
<h2 class="section-heading">Cacique Guaicaipuro</h2>   
<p>Guaicapuro  en la lengua caribe significa Lanza de Madera. Cabe recordar que lanza de madera fue la arma contundente para nuestros aborigenes apesar de la gran diferencia tecnoogica con los conquistadores</p>
<p>De la gesta colonizadora emergieron figuracomo Guaicaipuro, Tamanaco,Manches entre otros caciques que brindaron sus vidas en el holocausto de la patria, la raza dejo sentada la valenitia y una historia que nos permite hoy vanagloriarnos de la estirpe.</p>
<p>El gran cacique Guaicaipuro fue uno de los mas sobresalientes, tanto en la inteligencia para manejar la estrategia de la guerra, asi como organizador que fue capz de reunir una confederacion de tribus para la lucha contra los conquistadores.</p>
<p>Debido a su historia, Guaicaipuro entrò en el pensamiento espiritualista de venezuela, por su carismatico poder como guerrero y posteriormente como un ENTE.<br><br></p>
</div>
</div>
{% endblock %}