{% extends 'paypa/Base1.html' %}
{% block title %}Portada{% endblock %}
{% block background %}{% load static %}{% static 'paypa/img/TRES_POTENCIAS.jpg'  %}{% endblock%}

{% block headers%}
<p> <br><br><br></p>
<h1>EL PODER DE LAS TRES POTENCIAS</h1>
<span class="subheading">Expertos en lectura de Tarot, trabajos espirituales, materiales y solo con la condicion de hacer el bien al projimo</span>
<p> <br><br><br><br><br><br><br><br> </p>
{% endblock%} 

{% block content %}
<div class="row">
<h2> NUESTRA EXPERIENCIA</h2> 
<p> De ante mano agradecemos a DIOS TODO PODEROSO, por darnos los dones para ayudar a las personas y concedernos la oportunidad de expandirnos en todo el mundo, ademas extendemos los agradecimientos a nuestros clientes por depositar su confianza en "EL PODER DE LAS TRES POTENCIAS" y como siempre tenemos los brazos abiertos para las nuevas personas que desean ser parte de nuestra familia.</p>
<p>Tenemos 30 años de experiencia realizando trabajos materiales y espirituales para mejorar la calidad de vida de las personas,trabajamos en diversos campo como  amor, salud, prosperidad,exito entre otros, con los dones tenemos la facilidad de detectar los problemas de nuestros clientes y guiarlos por el camino correcto.</p>
<p>Trabajamos con las TRES POTENCIAS (Maria Lionza, Negro Felipe y Cacique Guaicaipuro), como pueden ver en la imagen y con el poder y sabiduria de ellos, emprendemos los trabajos materiales o espirituales para tener resultados satisfactorios. Debes tener encuenta que la orientacion y objetivo de cada trabajo es en PRO del projimo, nuestra politica es hacer el bien y combatir el mal.</p>
<div class="col-lg-5 col-md-6 offset-lg-0">
<img class="img-fluid avatar" src="{% static 'paypa/img/experiencia.jpg'%}" alt="">
</div>
<div class="col-lg-5 col-md-6 offset-lg-0">
<img class="img-fluid avatar" src="{% static 'paypa/img/potencia.jpg'%}" alt="">
</div>
<div class="col-lg-7 col-md-8 offset-lg-3"></div>
<p>Con el debido respeto a las personas que quieren pero tienen dudas de adquirir nuestros servicios o menbresias,en PRO de ganarnos su confianza, tenemos una seccion de opiniones y experiencias de nuestros clientes, en donde comentan como fue el trato y el resultado satisfactorio al que se llego en el trabajo.</p>

<h2> <br>Opiniones y experiencias  <br> </h2> 

<div class="video-fluid" controls="controls">
<p>Acontinuacion las experiencias de algunos clientes en video.</p>
<iframe width="300" height="200" src="https://www.youtube.com/embed/PRzMqatq2K0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" ></iframe>
<iframe width="300" height="200" src="https://www.youtube.com/embed/46AHvBB8ItI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" ></iframe>
<iframe width="300" height="200" src="https://www.youtube.com/embed/85KmqIdtsAE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" ></iframe>
<iframe width="300" height="200" src="https://www.youtube.com/embed/DeYjPtE-DJg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" ></iframe>
<p> <br></p>
<p>Proximamente tendremos nuestra cajita de comentarios para nuestros clientes...</p>
</div>

</div>
{% endblock %}
    
