{% extends 'paypa/Base1.html' %}
{% block title %}Horoscopo{% endblock %}
{% block background %}{% load static %}{% static 'paypa/img/Horoscopo1.jpg'%}{% endblock%}
{% block headers%}
<h2>EL PODER DE LAS TRES POTENCIAS</h2>
<span class="subheading">Cual es tu signo zodial? ¿Mira lo que dicen nuestros expertos? </span>
{% endblock%} 
{% block content %}
<div class="row">
<h1> Horoscopo semanal:
</h1>
<p>En la astrología occidental se conoce como signos del zodiaco o astrológicos a los doce sectores de treinta grados exactos en los que los babilonios dividieron el camino que recorre el Sol alrededor de la Tierra y que hasta entonces se había segmentado en ocho partes</p>

<div class="col-lg-4 col-md-6 offset-lg-1">
<img class="img-fluid avatar" src="{% static 'paypa/img/Horoscopo5.jpg'%}" alt="">
</div>
<div class="col-lg-7 col-md-8"> 
<p><br>Los elementos de los signos del zodíaco son: agua, aire, tierra y fuego. En relación a los cuatro elementos se agrupan los doce horóscopo, que representan energías originarias y propias.<br><br></p>
<p><br>Estos elementos representan los rasgos de personalidad de cada uno de los signos y cómo estos interactúan con su entorno y los demás signos según la astrología.<br></p>
</div>
<p><br>Todos, a la vez, nos vinculamos de alguna forma con los cuatro elementos, pero siempre hay uno que ejerce más influencia sobre nosotros, nuestra vida, amor y salud.<br></p>
<h4><br> ¿Quieres conocer qué depara el destino según tu horóscopo?<br><br></h4>

<div class="col-lg-17 col-md-18"> 
<ul>
<li><a href="https://www.youtube.com/embed/PRzMqatq2K0">Aries (21 de marzo - 20 de abril)</a></li>
<li><a href="https://www.youtube.com/embed/PRzMqatq2K0">Tauro (21 de abril - 21 de mayo)</a></li>
<li><a href="https://www.youtube.com/embed/PRzMqatq2K0">Gèminis (22 de mayo - 21 de junio)</a></li> 
<li><a href="https://www.youtube.com/embed/PRzMqatq2K0">Cancer (22 de junio - 23 de julio)</a></li>
<li><a href="https://www.youtube.com/embed/PRzMqatq2K0">Leo (24 de julio - 23 de agosto)</a></li>
<li><a href="https://www.youtube.com/embed/PRzMqatq2K0">Virgo (24 de agosto - 22 de septiembre)</a></li> 
<li><a href="https://www.youtube.com/embed/PRzMqatq2K0">Libra (23 de septiembre - 22 de octubre)</a></li>
<li><a href="https://www.youtube.com/embed/PRzMqatq2K0">Escorpion (23 de octubre - 22 de noviembre)</a></li>
<li><a href="https://www.youtube.com/embed/PRzMqatq2K0">Sagitario (23 de noviembre - 21 de diciembre)</a></li> 
<li><a href="https://www.youtube.com/embed/PRzMqatq2K0">Capricornio (22 de diciembre - 19 de enero)</a></li>
<li><a href="https://www.youtube.com/embed/PRzMqatq2K0">Acuario (20 de enero - 19 de febrero)</a></li>
<li><a href="https://www.youtube.com/embed/PRzMqatq2K0">Piscis (20 de febrero - 20 de marzo)</a></li> 
</ul>
</div>
</div>
<p><br> En pocas semanas habilitaremos esta seccion.  esperala...<br><br></p>
{% endblock %}


