{% extends 'paypa/Base1.html' %}
{% block title %}Membresias{% endblock %}
{% block background %}{% load static %}{% static 'paypa/img/Historia.jpg'%}{% endblock%}

{% block headers%}
<p> <br><br><br></p>
<h2>EL PODER DE LAS TRES POTENCIAS</h2>
<span class="subheading">Ofrecemos estas membresias a nuestros clientes con beneficos muy especiales</span>
<p> <br><br><br><br><br><br><br></p>
{% endblock%}

{% block content %}
<div class="row">
<h2> Que es una membresia? </h2> 
<p> Una membresia se refiere al hecho de ser un miembro selecto de "EL PODER DE LAS TRES POTENCIAS" que trae beneficos exclusivos solo para tì.<br><br> </p> 
<h3> Clases de membresia. </h3>

<div class="col-lg-17 col-md-12"> 
<ul>
<li><a href="">Membresia Gold</a></li>
<li><a href="">Membresia Black</a></li>
<li><a href="">Membresia Platinum</a></li> 
</ul>
</div>
<div class="col-lg-4 col-md-4 offset-lg-0">
<p> <br><br> </p>
<img class="img-fluid avatar" src="{% static 'paypa/img/GOLD1.jpg'%}" alt=" ">
</div>
<div class="col-lg-7 col-md-8">
<p> <br> </p>
<h2 class="section-heading">Membresia Gold</h2>   
<p>Los beneficios por mes:</p>
<div class="col-lg-17 col-md-12"> 
<ul>
<li><a href="">10 Lecturas de Tarot</a></li>
<li><a href="">3 Trabajos de Limpieza</a></li>
<li><a href="">1 Trabajo de Prosperidad</a></li> 
<li><a href="http://127.0.0.1:8000/adquieralo/">Adquieralo aqui por solo $ 700 USD</a></li>
</ul>
</div>
</div>

<div class="col-lg-4 col-md-4 offset-lg-0">
<p> <br><br><br> </p>
<img class="img-fluid avatar" src="{% static 'paypa/img/BLACK1.jpg'%}" alt="">
</div>
<div class="col-lg-7 col-md-8">
<p> <br> </p>
<h2 class="section-heading">Membresia Black</h2>   
<p>Los beneficios por mes:</p>
<div class="col-lg-17 col-md-12"> 
<ul>
<li><a href="">12 Lecturas de Tarot</a></li>
<li><a href="">4 Trabajos de Limpieza</a></li>
<li><a href="">1 Trabajo de Prosperidad</a></li>
<li><a href="">1 Trabajo para el Amor</a></li>
<li><a href="">1 Liga de Proteccion personal</a></li>
<li><a href="">1 Trabajo del Dinero</a></li>
<li><a href="">1 Talisman para la Prosperidad</a></li>
<li><a href="http://127.0.0.1:8000/adquieralo1/">Adquieralo aqui por solo $ 2000 USD</a></li>
</ul>
</div>
</div>

<div class="col-lg-4 col-md-4 offset-lg-0">
<p> <br><br><br> </p>
<img class="img-fluid avatar" src="{% static 'paypa/img/PLATINUM3.jpg'%}" alt="">
</div>
<div class="col-lg-7 col-md-8">
<p> <br> </p>
<h2 class="section-heading">Membresia Platinum</h2>   
<p>Los beneficios por mes:</p>
<div class="col-lg-17 col-md-12"> 
<ul>
<li><a href="">20 Lecturas de Tarot</a></li>
<li><a href="">4 Trabajos de Limpieza</a></li>
<li><a href="">1 Trabajo de Prosperidad</a></li>
<li><a href="">1 Trabajo para el Amor</a></li>
<li><a href="">1 Liga de Proteccion personal</a></li>
<li><a href="">1 Trabajo del Dinero</a></li>
<li><a href="">Guia Espiritual las 24 horas del dia.</a></li>
<li><a href="http://127.0.0.1:8000/adquieralo2/">Adquieralo aqui por solo $ 5000 USD</a></li> 
</ul>
</div>
<p> <br><br></p>
<!--<div class="col-lg-3 col-md-2 offset-lg-2"> 
<ul>-->

<!--</div>-->
</div>
</div>
<div class="col-lg-3 col-md-2 offset-lg-0">
<h2 class="section-heading">  Pago especial </h2>
<ul>
<li><a href="http://127.0.0.1:8000/adquieralo5/">Pago especial</a></li> 
</ul>
</div>
{% endblock %}