{% extends 'paypa/Base1.html' %}
{% block title %}Servicios{% endblock %}
{% block background %}{% load static %}{% static 'paypa/img/SERVICIOS.jpg'  %}{% endblock%}

{% block headers%}
<p> <br><br><br><br><br></p>
<h2>EL PODER DE LAS TRES POTENCIAS</h2>
<span class="subheading">Ayudarte es nuestro objetivo y satisfaccion</span>
<p> <br><br><br><br><br></p>
{% endblock%} 

{% block content %}
<div class="row">

<h2> QUE OFRECEMOS PARA AYUDARTE? </h2> 

<p><br>Hacemos todo tipo de trabajos materiales como espirituales, los cuales se listan a continuacion:<br></p>

<div class="col-lg-17 col-md-18"> 
<p><h4>Limpieza</h4> Para retirar malas energias, envidias y limpiar el Aura.</p>
<p><h4>Prosperidad</h4> Tiene el objetivo de llamar el triunfo, para que los negocios y proyectos lleguen a la puerta de su hogar</p>
<p><h4>"Tumba Trabajos"</h4> Su funcion esta en derrocar, tumbar trabajos que le esten haciendo o hayan hecho de forma material o espiritual </p>
<p><h4>Trabajo de amor (Amarre)</h4> Este tipo de trabajo es de atraer a su ser amado</p>
<p><h4>Endulzamientos</h4> Trabajo para mejorar los pensamiento de su ser amado, de forma que usted sea mas atrayente para el o ella</p>
<p><h4>Trabajo del exito</h4> Se realiza para emprender cualquier tarea o proyecto con exito.</p>
<p><h4>Liga de proteccion personal</h4> objeto que usted llevara para estar protejido de cualquier problema o trabajo espiritual o material</p>
<p><h4>Liga de proteccion para el Hogar</h4> objeto que estara en el hogar para alejar ladrones y malas energias</p>
<p><h4>Talisman para la prosperidad</h4> Es un objeto que la persona llevara consigo para tener suerte en el amor, juegos del Azar, negocios y mas. </p>
<p><h4>Espanta espiritus</h4> trabajo enfocado para retirar entidades negativas de su entorno</p>
<p><h4>Arreglo de negocios, locales</h4> trabajo material y espiritual para que su negocio prospere. (Aumento de ventas)</p>
<p><h4>Trabajo para la salud</h4> es utilizado para mejorar y sanar a la persona de enfermedades que le pueden causar la muerte</p>
<p><h4>Para retirar entidades negativas "Brujas"</h4> trabajo material y espiritual para retirar y quitar brujas que quieran verlo mal</p>
<p><h4>Del exito en los juegos del AZAR</h4> trabajo con el objetivo de tener exito en los juegos. </p>
</div>
<p><h5><br>Cuando se realiza una sesión de lectura de Tarot, se identifica el o los trabajos necesarios para ayudarte en tu progreso.&nbsp;</h5> </p>
</div>
{% endblock %}