{% extends 'paypa/Base1.html' %}
{% block title %}TAROT{% endblock %}
{% block background %}{% load static %}{% static 'paypa/img/TAROT1.jpg'  %}{% endblock%}
{% block headers%}
<p> <br><br><br></p>
<h2>EL PODER DE LAS TRES POTENCIAS</h2>
<span class="subheading">conoce lo que te quieren decir las cartas</span>
<p> <br><br><br></p>
{% endblock%} 
{% block content %}
<div class="row">
<h2> Que es el Tarot? </h2> 
<p> El tarot es una baraja de cartas, la cual esta compuesta por Arcanos mayores y menores,que se utiliza para consultar inquietudes o dudas. La lectura se inicia con una oracion de invocacion con el con el objetivo de tener exactitud, presicion y satisfaccion hacia con el projimo. El tarot se basa en la interpretación pero no tiene nada que ver con la brujería, lo maligno, la hechicería o cualquier acción sobrenatural, que es lo que se suele creer de forma errónea.</p>
<div class="col-lg-5 col-md-3 offset-lg-3">
<img class="img-fluid avatar" src="{% static 'paypa/img/TAROT2.jpg'%}" alt="">
</div>


<p><h2><br>Con que trabajamos?  &nbsp; &nbsp; &nbsp; &nbsp;</h2> </p>
<p>Nuestros expertos trabajan con diferentes clases de Tarot, entre ellos encontramos el tarot de Marsella, estas barajas estan conformadas desde 22 a 78 cartas, como se visualiza en la imagen nuestros tarot's has sido utilizados por mas de 20-30 años,dando satisfaccion a nuestros clientes en temas del AMOR, PROSPERIDAD,SALUD, EMPLEO y demas.</p>
<div class="col-lg-6 col-md-9 offset-lg-3">
<img class="img-fluid avatar" src="{% static 'paypa/img/TAROT11.jpg'%}" alt="">
</div>
<div class="col-lg-12 col-md-8 offset-lg-0"> 
<!-- <h2 class="section-heading">Labor</h2>-->   
<p><h5><br><br>Programa una cita con nuestros expertos para una lectura de tarot y no te preocupes todo es confidencial "sin miedo al EXITO" :&nbsp;</h5> </p>
<ul>
<li><a href="http://127.0.0.1:8000/adquieralo3/">Lectura por SKIPE "videollamada" por solo $ 20 USD</a></li>
<li><a href="http://127.0.0.1:8000/adquieralo3/">Lectura por WhatsApp "videollamada" por solo $ 20 USD</a></li> 
</ul>
</div>
</div>
{% endblock %}